.content-page {
    padding: 50px 20px;
    background-color: #EAECEF;
}

.content-page__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.content-page__book {
    width: 750px;
    border-radius: 20px;
    padding: 20px 30px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    border-style: solid;
    background-image: url("/images/BookClub/background_content.png");
}

.book__book_title {
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    line-height: 65px;
}

.book__book_author {
    font-size: 26px;
    font-weight: 600;
    color: #7e8186;
    line-height: 40px;
}

.book__book-images {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.image_wrapper {
    display: flex;
    align-items: center;
}

.cover {
    width: 200px;
    height: 270px;
}

.back_cover {
    width: 250px;
    height: 250px;
}

.contents {
    width: 200px;
    height: 100px;
}

.content-page__aside {
    border-radius: 20px;
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    width: 350px;
    padding: 20px 10px;
    box-sizing: border-box;
}

.aside__title {
    color: #263238;
    font-size: 28px;
    font-weight: 600;
    line-height: 45px;
}

.aside__summury {
    color: #263238;
    font-size: 18px;
    font-family: Arial, sans-serif;
    line-height: 1.35;
    font-weight: 500;
    margin-bottom: 20px;
}

.subject__item {
    display: inline-block;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    color: #263238;
    font-size: 20px;
    font-weight: 500;
    background: #ecedf1;
}

.aside__buttons {
    margin-top: 40px;
}

.book_reviews {
    max-width: 1200px;
    margin: 0 auto;
}

.books_reviews__title {
    color: #263238;
    font-size: 42px;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    height: 70px;
    border-style: solid;
    margin-top: 35px;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #f5c400;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.container {
    border-radius: 5px;
    background-color: #EAECEF;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.checked {
    color: orange;
}


.rating-area {
    float: left;
    width: 75%;
    margin-top: 6px;
}

