.content-page {
    padding: 50px 20px;
    background-color: #EAECEF;
}

.content-page__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.content-page__book {
    width: 750px;
    border-radius: 20px;
    padding: 20px 30px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    border-style: solid;
    background-image: url("/images/BookClub/background_content.png");
}

.book__book_title {
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    line-height: 65px;
}

.book__book_author {
    font-size: 26px;
    font-weight: 600;
    color: #7e8186;
    line-height: 40px;
}

.book__book-images {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.image_wrapper {
    display: flex;
    align-items: center;
}

.cover {
    width: 200px;
    height: 270px;
}

.back_cover {
    width: 250px;
    height: 250px;
}

.contents {
    width: 200px;
    height: 100px;
}

.content-page__aside {
    border-radius: 20px;
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    width: 350px;
    padding: 20px 10px;
    box-sizing: border-box;
}

.aside__title {
    color: #263238;
    font-size: 28px;
    font-weight: 600;
    line-height: 45px;
}

.aside__summury {
    color: #263238;
    font-size: 18px;
    font-family: Arial, sans-serif;
    line-height: 1.35;
    font-weight: 500;
    margin-bottom: 20px;
}

.btn {
    height: 54px;
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    background-color: #f5c400;
}

.btn_small {
    width: 200px;
}

.btn_big {
    width: 262px;
}